[package]
name = "mars-xlog-android-jni"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
jni = "0.21"
mars-xlog = { path = "../xlog" }
once_cell = "1"

[profile.release]
lto = true
strip = true
